<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>guestbook</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/guestbook.css">
</head>
<body>
    <h1>Guestbook</h1>
    <h2> Welcome {{username}}!</h2>

    {% for message in messages %}
        <div class="message">
            <div class="user">{{message.getUser()}}</div>
            <div class="date">{{message.getDate()}}</div>
            <div class="text">{{message.getText()}}</div>
        </div>
    {% endfor %}

<form action="/guestbook" method="POST">
    <textarea name="textmessage"></textarea>
    <button type="submit">Submit</button>
</form>

</body>
</html>