<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <main>
        <h1>Welcome traveller!</h1>
        <a href="/guestbook">Continue as guest</a>
        <a href="/login">Login</a>

    </main>

</body>
</html>