<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>

</body>
</html>